<p id="notice"><%= notice %></p>
      <% if current_user %>
        <%= current_user.id%>
          <%= link_to "Logout",destroy_user_session_path,method: :delete %>
          <% end %>
<h1>Tenders</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenders.each do |tender| %>
    <% if tender.published? || tender.user_id == current_user.id %>
      <tr>
        <td><%= tender.title %></td>
        <td><%= tender.body %></td>
        <td><%= tender.user_id%></td>
        <td><%= link_to tender.status,toggle_status_tender_path(tender),data: { confirm: 'Are you sure?' } %>
        <td><%= link_to 'Show', tender %></td>
        <% if can? :update , tender %> 
        <td><%= link_to '| Edit', edit_tender_path(tender) %></td>
        <% end %>
        <% if can? :destroy , tender %> 
        <td><%= link_to '| Destroy', tender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
null: false,  default:
<br>
<%= link_to 'New Tender', new_tender_path %>
<br>
<br>
